In [1]:
import pandas as pd

In [3]:
hop_df = pd.read_csv("DocGraph_Hop_Teaming_2018.csv")

In [5]:
hop_df.head(5)

,from_npi,to_npi,patient_count,transaction_count,average_day_wait,std_day_wait
0,1508062167,1730166109,350,370,53.922,72.612
1,1508065640,1730166109,25,25,49.800,55.006
2,1508052093,1730166109,16,16,109.500,70.593
3,1508172545,1730166109,14,14,103.357,75.483
4,1508285131,1730166109,20,21,89.952,89.880

In [18]:
hop_df.shape

(217911308, 6)

In [16]:
transaction_counts = hop_df[(hop_df['transaction_count'] >= 50) & (hop_df['average_day_wait'] < 50)]

In [14]:
transaction_counts.shape

(33563184, 6)

In [17]:
transaction_counts.to_csv('hoptrim.csv', index = False)