In [3]:
import pandas as pd
import sqlite3
from tqdm.notebook import tqdm

In [13]:
nppes = pd.read_csv('data/nppes_trimmed.csv', nrows = 1000)
hop = pd.read_csv('data/DocGraph_Hop_Teaming_2018_Commercial/DocGraph_Hop_Teaming_2018_Commercial/DocGraph_Hop_Teaming_2018.csv', nrows = 1000)

In [14]:
hop.head()

,from_npi,to_npi,patient_count,transaction_count,average_day_wait,std_day_wait
0,1508062167,1730166109,350,370,53.922,72.612
1,1508065640,1730166109,25,25,49.800,55.006
2,1508052093,1730166109,16,16,109.500,70.593
3,1508172545,1730166109,14,14,103.357,75.483
4,1508285131,1730166109,20,21,89.952,89.880

In [27]:
hop_proj=sqlite3.connect('data/hop_proj.sqlite')

for chunk in tqdm(pd.read_csv('data/nppes_trimmed.csv', chunksize = 1000)):
    chunk.to_sql('nppes', hop_proj, if_exists = 'append', index = False)
    
for chunk in tqdm(pd.read_csv('data/nucc_taxonomy_220.csv', chunksize = 1000)):
    chunk.to_sql('taxonomy', hop_proj, if exists = 'append', index = False)
    
for chunk in tqdm(pd.read_csv('data/ZIP_CBSA_122021.xlsx', chunksize = 1000)):
    chunk.to_sql('cbsa', hop_proj, if exists = 'append', index = False)

for chunk in tqdm(pd.read_csv('data/DocGraph_Hop_Teaming_2018_Commercial/DocGraph_Hop_Teaming_2018_Commercial/DocGraph_Hop_Teaming_2018.csv', chunksize = 1000)):
    chunk.to_sql('hop', hop_proj, if exists = 'append', index = False)

0it [00:00, ?it/s]

KeyboardInterrupt: