In [1]:
import pandas as pd

In [2]:
nppes = pd.read_csv('../data/nppes/npidata_pfile_20050523-20220213.csv')

nppes

C:\Users\sarei\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (17,24,26,27,32,34,35,39,40,46,56,60,61,64,65,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,111,115,117,118,119,121,122,123,125,126,127,129,130,131,133,134,135,137,138,139,141,142,143,145,146,147,149,150,151,153,154,155,157,158,159,161,162,163,165,166,167,169,170,171,173,174,175,177,178,179,181,182,183,185,186,187,189,190,191,193,194,195,197,198,199,201,202,203,205,206,207,209,210,211,213,214,215,217,218,219,221,222,223,225,226,227,229,230,231,233,234,235,237,238,239,241,242,243,245,246,247,249,250,251,253,254,255,257,258,259,261,262,263,265,266,267,269,270,271,273,274,275,277,278,279,281,282,283,285,286,287,289,290,291,293,294,295,297,298,299,301,302,303,305,306,312,317,318,319,320,321,322,323,324,325,326,327,328) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,NPI,Entity Type Code,Replacement NPI,Employer Identification Number (EIN),Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,...,Healthcare Provider Taxonomy Group_7,Healthcare Provider Taxonomy Group_8,Healthcare Provider Taxonomy Group_9,Healthcare Provider Taxonomy Group_10,Healthcare Provider Taxonomy Group_11,Healthcare Provider Taxonomy Group_12,Healthcare Provider Taxonomy Group_13,Healthcare Provider Taxonomy Group_14,Healthcare Provider Taxonomy Group_15,Certification Date
0,1679576722,1.0,NaN,NaN,NaN,WIEBE,DAVID,A,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1588667638,1.0,NaN,NaN,NaN,PILCHER,WILLIAM,C,DR.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1497758544,2.0,NaN,<UNAVAIL>,"CUMBERLAND COUNTY HOSPITAL SYSTEM, INC",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1306849450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1215930367,1.0,NaN,NaN,NaN,GRESSOT,LAURENT,NaN,DR.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7189073,1649925215,1.0,NaN,NaN,NaN,MARTIN,ASHLEY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/13/2022
7189074,1528713195,1.0,NaN,NaN,NaN,HONG,RYAN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/13/2022
7189075,1437804002,1.0,NaN,NaN,NaN,BROWN,CAMERON,DAVID,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/13/2022
7189076,1851046437,1.0,NaN,NaN,NaN,MOHAMED,WALEED,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/13/2022
7189077,1760137343,1.0,NaN,NaN,NaN,WILLIAMS,HEATHER,NaN,MS.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/13/2022

In [3]:
nppes_trimmed = nppes[['NPI',
      'Entity Type Code',
      'Provider Organization Name (Legal Business Name)',
      'Provider Last Name (Legal Name)',
      'Provider First Name',
      'Provider Middle Name',
      'Provider Name Prefix Text',
      'Provider Name Suffix Text',
      'Provider Credential Text',
      'Provider First Line Business Practice Location Address',
      'Provider Second Line Business Practice Location Address',
      'Provider Business Practice Location Address City Name',
      'Provider Business Practice Location Address State Name',
      'Provider Business Practice Location Address Postal Code'
]]

In [4]:
nppes_trimmed

,NPI,Entity Type Code,Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,Provider Credential Text,Provider First Line Business Practice Location Address,Provider Second Line Business Practice Location Address,Provider Business Practice Location Address City Name,Provider Business Practice Location Address State Name,Provider Business Practice Location Address Postal Code
0,1679576722,1.0,NaN,WIEBE,DAVID,A,NaN,NaN,M.D.,3500 CENTRAL AVE,NaN,KEARNEY,NE,688472944.0
1,1588667638,1.0,NaN,PILCHER,WILLIAM,C,DR.,NaN,MD,1824 KING STREET,SUITE 300,JACKSONVILLE,FL,322044736.0
2,1497758544,2.0,"CUMBERLAND COUNTY HOSPITAL SYSTEM, INC",NaN,NaN,NaN,NaN,NaN,NaN,3418 VILLAGE DR,NaN,FAYETTEVILLE,NC,283044552.0
3,1306849450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1215930367,1.0,NaN,GRESSOT,LAURENT,NaN,DR.,NaN,M.D.,17323 RED OAK DR,NaN,HOUSTON,TX,770901243.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7189073,1649925215,1.0,NaN,MARTIN,ASHLEY,NaN,NaN,NaN,LMT,1703 DELONEY ST UNIT B,NaN,AUSTIN,TX,787211111
7189074,1528713195,1.0,NaN,HONG,RYAN,NaN,NaN,NaN,PHARMD,2 BERGEN TPKE,NaN,RIDGEFIELD PARK,NJ,76602390
7189075,1437804002,1.0,NaN,BROWN,CAMERON,DAVID,NaN,NaN,NaN,233 AUGUSTINE DR,NaN,SPARTANBURG,SC,293066927
7189076,1851046437,1.0,NaN,MOHAMED,WALEED,NaN,NaN,NaN,NaN,5021 S 13TH ST,NaN,MILWAUKEE,WI,532213600
7189077,1760137343,1.0,NaN,WILLIAMS,HEATHER,NaN,MS.,NaN,WHNP,1507 CHURCHILL DR,NaN,OCEAN SPRINGS,MS,395643305

In [7]:
nppes_trimmed.to_csv('../data/nppes/nppe_trimmed.csv',
                     index = False)

In [14]:
nppes_taxonomy = nppes[['NPI',
                        'Healthcare Provider Taxonomy Code_1',
                        'Healthcare Provider Primary Taxonomy Switch_1',
                        'Healthcare Provider Taxonomy Code_2',
                        'Healthcare Provider Primary Taxonomy Switch_2',
                        'Healthcare Provider Taxonomy Code_3',
                        'Healthcare Provider Primary Taxonomy Switch_3',
                        'Healthcare Provider Taxonomy Code_4',
                        'Healthcare Provider Primary Taxonomy Switch_4',
                        'Healthcare Provider Taxonomy Code_5',
                        'Healthcare Provider Primary Taxonomy Switch_5',
                        'Healthcare Provider Taxonomy Code_6',
                        'Healthcare Provider Primary Taxonomy Switch_6',
                        'Healthcare Provider Taxonomy Code_7',
                        'Healthcare Provider Primary Taxonomy Switch_7',
                        'Healthcare Provider Taxonomy Code_8',
                        'Healthcare Provider Primary Taxonomy Switch_8',
                        'Healthcare Provider Taxonomy Code_9',
                        'Healthcare Provider Primary Taxonomy Switch_9',
                        'Healthcare Provider Taxonomy Code_10',
                        'Healthcare Provider Primary Taxonomy Switch_10',
                        'Healthcare Provider Taxonomy Code_11',
                        'Healthcare Provider Primary Taxonomy Switch_11',
                        'Healthcare Provider Taxonomy Code_12',
                        'Healthcare Provider Primary Taxonomy Switch_12',
                        'Healthcare Provider Taxonomy Code_13',
                        'Healthcare Provider Primary Taxonomy Switch_13',
                        'Healthcare Provider Taxonomy Code_14',
                        'Healthcare Provider Primary Taxonomy Switch_14',
                        'Healthcare Provider Taxonomy Code_15',
                        'Healthcare Provider Primary Taxonomy Switch_15']]

In [9]:
def primary_taxonomy(df):
    for col in range(1, 16):
        if df['Healthcare Provider Primary Taxonomy Switch_' + str(col)] == 'Y':
            return df['Healthcare Provider Taxonomy Code_' + str(col)]

In [15]:
nppes_taxonomy['primary_taxonomy'] = nppes_taxonomy.apply(lambda x: primary_taxonomy(x), axis = 1)

C:\Users\sarei\AppData\Local\Temp/ipykernel_11984/4166156176.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nppes_taxonomy['primary_taxonomy'] = nppes_taxonomy.apply(lambda x: primary_taxonomy(x), axis = 1)

In [16]:
nppes_taxonomy

,NPI,Healthcare Provider Taxonomy Code_1,Healthcare Provider Primary Taxonomy Switch_1,Healthcare Provider Taxonomy Code_2,Healthcare Provider Primary Taxonomy Switch_2,Healthcare Provider Taxonomy Code_3,Healthcare Provider Primary Taxonomy Switch_3,Healthcare Provider Taxonomy Code_4,Healthcare Provider Primary Taxonomy Switch_4,Healthcare Provider Taxonomy Code_5,...,Healthcare Provider Primary Taxonomy Switch_11,Healthcare Provider Taxonomy Code_12,Healthcare Provider Primary Taxonomy Switch_12,Healthcare Provider Taxonomy Code_13,Healthcare Provider Primary Taxonomy Switch_13,Healthcare Provider Taxonomy Code_14,Healthcare Provider Primary Taxonomy Switch_14,Healthcare Provider Taxonomy Code_15,Healthcare Provider Primary Taxonomy Switch_15,primary_taxonomy
0,1679576722,207X00000X,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,207X00000X
1,1588667638,207RC0000X,Y,207RC0000X,N,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,207RC0000X
2,1497758544,251G00000X,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,251G00000X
3,1306849450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,1215930367,174400000X,N,207RH0003X,Y,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,207RH0003X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7189073,1649925215,225700000X,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225700000X
7189074,1528713195,183500000X,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183500000X
7189075,1437804002,390200000X,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,390200000X
7189076,1851046437,1041C0700X,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1041C0700X
7189077,1760137343,363LW0102X,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,363LW0102X

In [17]:
nppes_taxonomy = nppes_taxonomy[['NPI', 'primary_taxonomy']]

In [18]:
nppes_taxonomy

                NPI primary_taxonomy
0        1679576722       207X00000X
1        1588667638       207RC0000X
2        1497758544       251G00000X
3        1306849450             None
4        1215930367       207RH0003X
...             ...              ...
7189073  1649925215       225700000X
7189074  1528713195       183500000X
7189075  1437804002       390200000X
7189076  1851046437       1041C0700X
7189077  1760137343       363LW0102X

[7189078 rows x 2 columns]

In [19]:
nppes_taxonomy.to_csv('../data/nppes/nppes_taxonomy.csv',
                     index = False)